[submodule "opencode"]
	path = opencode
	url = https://github.com/anomalyco/opencode.git
[submodule "freebuff"]
	path = freebuff
	url = https://github.com/CodebuffAI/freebuff.git
[submodule "codex"]
	path = codex
	url = https://github.com/openai/codex.git
[submodule "claude-code"]
	path = claude-code
	url = https://github.com/anthropics/claude-code.git
[submodule "github-regkit-private"]
	path = github-regkit-private
	url = https://github.com/hafidzrizqullahprasetya/github-regkit-private.git
[submodule "bercocok-tanam"]
	path = bercocok-tanam
	url = https://github.com/fzrilsh/bercocok-tanam.git
[submodule "outlook-creator"]
	path = outlook-creator
	url = https://github.com/hafidzrizqullahprasetya/outlook-creator.git
